<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso para acceder a estadísticas de uso (se solicita en tiempo de ejecución) -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" /> <!-- Permiso para consultar paquetes (requiere justificación para Google Play) -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- Consultas necesarias para detectar apps instaladas -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScreenSense"
        tools:targetApi="31">
        <activity
            android:name=".Modulo2.Bloqueo.ChooseAppActivity"
            android:exported="false" />
        <activity
            android:name=".Modulo3.BlockActivity"
            android:exported="false" />
        <activity
            android:name=".Modulo2.Bloqueo.limitsActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavActivity"
            android:exported="false" />

        <meta-data
            android:name="android.permission.QUERY_ALL_PACKAGES"
            android:value="Se requiere para mostrar estadísticas precisas de uso de aplicaciones instaladas por el usuario" />

        <activity
            android:name=".Modulo2.Graficas.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".modulo1.RecuperarPassword1"
            android:exported="false" />
        <activity
            android:name=".modulo1.RecuperarPassword3"
            android:exported="false" />
        <activity
            android:name=".modulo1.RecuperarPassword2"
            android:exported="false" />
        <activity
            android:name=".modulo1.ModOneActivityOne"
            android:exported="true" />
        <activity
            android:name=".inicioApp.MainFiveActivity"
            android:exported="false" />
        <activity
            android:name=".inicioApp.MainFourActivity"
            android:exported="false" />
        <activity
            android:name=".inicioApp.MainThreeActivity"
            android:exported="false" />
        <activity
            android:name=".inicioApp.LogUp"
            android:exported="true" />
        <activity
            android:name=".inicioApp.MainTwoActivity"
            android:exported="false" />
        <activity
            android:name=".inicioApp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>